<div class="card shadow-sm p-3 mb-4 bg-body rounded " id="zoom">
  <div class="card-body" (click)="UpdateCardModal()">
    <h3 class="card-title ">{{cardItem.title}}</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngIf="cardItem.name; else noName">{{cardItem.name}}</li>
      <li class="list-group-item">{{cardItem.phone}}</li>
      <li class="list-group-item" *ngIf="cardItem.email; else noEmail">{{cardItem.email}}</li>
      <ng-template #noEmail>
        <li class="list-group-item" id="ng">e-mail girilmemiş</li>
      </ng-template>
      <li class="list-group-item" *ngIf="cardItem.address; else noAdress">{{cardItem.address}}</li>
      <ng-template #noAdress>
        <li class="list-group-item" id="ng">adres girilmemiş</li>
      </ng-template>
      <ng-template #noName>
        <li class="list-group-item" id="ng">isim girilmemiş</li>
      </ng-template>
    </ul>
  </div>
</div>